

<style>



img {
	width : 50px;
	height : 50px;
}

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
		
				
			
			
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_account')}}"><img src="/profil.png"></img>
						<a class="nav-link">Editer</a>
						
                        <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                    
						</a>
                    </li>
					   <li class="nav-item">
                        <a class="nav-link" href="{{path('app_liste')}}">Mes stagiaires</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="{{path('app_list')}}">Mes certifications</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="{{path('app_listcertif')}}">Nos certificateurs</a>
                    </li>
                   
		
                {% else %}
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				
				<li class="nav-item dropdown">
					
				</li>
			</ul>
                    
				{% endif %}
			</ul>
		</div>
	</div>
</nav>




